body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(29, 21, 3);
  font-family: 'Segoe UI', sans-serif;
}

.card {
  width: 320px;
  padding: 25px;
  min-height: 200px;
  border-radius: 24px;

  background: rgba(255, 255, 255, 0.12);
  backdrop-filter: blur(20px);

  display: flex;              /* 🔥 important */
  flex-direction: column;     /* stack vertically */
  justify-content: space-around; /* equal top-bottom spacing */

  color: white;
}

/* Header */
.head {
  text-align: center;
  font-size: 22px;
  margin-bottom: 15px;
}

/* Top section */
.main-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-top-left {
  font-size: 48px;
  font-weight: bold;
}

.main-top-right {
  text-align: right;
}

.condition {
  font-size: 18px;
}

.max-temp {
  color: #ffcc00;
}

.min-temp {
  color: #ccc;
}

/* Bottom info */
.main-bottom {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.info-box {
  text-align: center;
}

.value {
  font-size: 18px;
  font-weight: bold;
}

.label {
  font-size: 12px;
  opacity: 0.8;
}